<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="https://angular.io/assets/images/logos/angular/shield-large.svg" alt="" width="50" height="40">
                <span class="fs-4" style="font-weight: bold;">Angular</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 text-dark text-decoration-none" href="/account">ข้อมูลบัญชี</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/wallet">เติมเงิน Wallet</a>
                <a class="me-3 py-2 text-dark text-decoration-none" href="/transfer">การโอนเงิน</a>
                <!-- <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
              <a class="py-2 text-dark text-decoration-none" href="#">Pricing</a> -->
            </nav>
        </div>
        <!-- <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Pricing</h1>
          <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
      </div> -->
    </header>

    <main>
        <router-outlet></router-outlet>
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
            </div>
        </div>
    </footer>
</div>